@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}

@media (max-width: 768px) {
	.navbar_main {
		box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
	}
	.navbar_main .li_m {
		margin-bottom: 25px;
	}
}

@media (max-width: 640px) {
	.img_hero {
		width: 250px;
		height: 236px;
	}
}

@media (max-width: 360px) {
	.cart_hide {
		display: none;
	}
}

@media (max-width: 500px) {
	#hero h4 {
		font-size: 15px;
	}
	#hero h2 {
		font-size: 35px;
	}
	#hero h1 {
		font-size: 37px;
	}
	#hero p {
		font-size: 13px;
	}
}

@media (max-width: 410px) {
	.img_hero img {
		right: -50px;
	}
}

.nav-under::before {
	content: "";
	width: 0px;
	height: 2px;
	background-color: #088178;
	position: absolute;
	bottom: -8px;
	left: 50%;
	transform: translateX(-50%);
	transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
}

.nav-under:hover::before,
.nav-active::before {
	width: 70%;
}

.shadow_box {
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
}

.shadow_hover {
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
}

.transition-my {
	transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
}

.star_rating {
	--percent: calc(var(--rating) / 5 * 100%);
	display: inline-block;
	font-size: 25px;
	font-family: Times;
	line-height: 1;
	position: relative;
	box-sizing: border-box;
}

.star_rating::before {
	content: "★★★★★";
	letter-spacing: 1px;
	background: linear-gradient(90deg, #fc0 var(--percent), #fff var(--percent));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.star_rating::after {
	content: "★★★★★";
	z-index: -2;
	position: absolute;
	letter-spacing: 1px;
	left: 0px;
	top: 0px;
	text-shadow: 0px 0px 1px black;
	box-sizing: border-box;
}

.custom_shadow:hover {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
